.ceil{
    display: inline-block
    
}
h1{
    text-align: center;
}
.row{
    
    
    margin: auto;
}
.container-main{
    background-color:rgb(168, 203, 226);
    height: 300px;
}
#result{
    margin-left: 20px;
    background-color: rgb(119, 168, 156);
}